


    .nav-link:hover {
            color: rgb(5, 210, 5);
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgb(5, 210, 5);
        }

     
   h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            color: rgba(255, 255, 255, 0.9);
            text-shadow: 0 0 10px rgba(172.08, 203.48, 250.76, 0.3);
        }

        .roadmap-container {
            background-color: rgba(35.641, 37.137, 38.046, 0.9);
            border-radius: 20px;
            padding: 2rem;
            max-width: 800px;
            margin: auto;
            margin-top: 10rem;
            width: 100%;
            backdrop-filter: blur(10px);
            box-shadow: 0 5px 20px rgba(35.641, 37.137, 38.046, 0.4);
        }
        
        .roadmap-title {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
            color: rgb(172.08, 203.48, 250.76);
            text-shadow: 0 0 10px rgba(172.08, 203.48, 250.76, 0.3);
        }
        
        .roadmap-subtitle {
            text-align: center;
            color: rgba(255, 255, 255, 10);
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }
        
        .timeline {
            position: relative;
            padding-left: 20px;
            transition: 0.4s;
        }
        
        .timeline::before {
            content: '';
            position: absolute;
            left: -9px;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: rgba(172.08, 203.48, 250.76, 0.3);
        }
        
        .roadmap-item {
            position: relative;
            margin-bottom: 2rem;
            padding-left: 30px;
            transition: 0.15s;

             /* meglenés görgetésre animáció */
            animation: appear linear ;
            animation-timeline: view();
            animation-range: entry 0 cover 15% ;
        }

        .roadmap-item:hover {
            border-radius: 0.6vw;
            background-color:  rgba(57, 58, 59, 0.9); ;
        }
        
        .roadmap-item::before {
            content: '';
            position: absolute;
            left: -40px;
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(172.08, 203.48, 250.76);
            border: 3px solid rgba(35.641, 37.137, 38.046, 0.9);
            transition: 0.15s;
        }        

        .roadmap-item:hover::before {
            background-color: rgb(114, 167, 245);
            border: 3px solid rgba(59, 62, 65, 0.9);
            transform: scale(1.25);
        }
        .roadmap-year {
            
            color: rgba(255, 255, 255, 255);
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: 300;

        }
        
        .roadmap-milestone {
            font-size: 1.5rem;
            color: rgb(172.08, 203.48, 250.76);
            margin-bottom: 0.5rem;
        }
        
        .roadmap-description {
            font-size: 1.3rem;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.1rem;
        }


#disclaimer {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    
}


.roadmap-image {
    height: 2rem;
    filter: invert(100%);
    transform: translateY(0.2rem);
    user-select: none;
}

/* ahol több project is van */

.select-project-container {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    padding: 1.5vw;
    grid-template-rows:  repeat(auto-fit, 15rem);
    gap: 1.5vw;
    background-color: rgb(7, 10, 17) ;
    border-radius: 0.4vw;
    height: 45rem;


    /* meglenés görgetésre animáció */
    animation: appear ease-in-out ;
    animation-timeline: view();
    animation-range: entry 0 cover 20% ;
    
}

.select-project-card {
    background-color: rgba(35.641, 37.137, 38.046, 0.9);
    padding: 0.5rem;
    text-align: center;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    border-radius: 0.6vw;
    transition: 0.20s ease-in-out;
    box-shadow: 0 5px 20px rgba(35.641, 37.137, 38.046, 0.4);

    /* meglenés görgetésre animáció */
    animation: appear ease-in-out ;
    animation-timeline: view();
    animation-range: entry 0 cover 50% ;
}  

.select-project-card:hover {
    transform: translateY(-10px) scale(1.01) ;
    border-radius: 1vw;
    box-shadow: 0px 0px 0.6rem 0.009px rgb(172.08, 203.48, 250.76);
    
} 


.select-project-card-pr-name-text {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(172.08, 203.48, 250.76);
}


.select-project-card-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: center;
}

.project-roadmap {
    /* ez a linkek Css-e */
   

   }


.select-div-logo {
    height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}